body {
    background-color: #eee;
}

.title {
    font-size: 52px;
    background-color: lightskyblue;
    padding: 16px;
}

.content {
    font-size: 20px;
    background-color: lightskyblue;
    padding: 16px;
}