body {
    background-color: #eee;
}

.card {
    background-color: white;
    width: 500px;
    margin: 12px auto 8px 8px;
    padding: 1px 16px;
}

.title {
    font-size: 52px;
    text-decoration: underline;
    background-color: lightskyblue;
    padding: 16px;
    margin: 16px auto;
}

.content {
    font-size: 20px;
    background-color: lightskyblue;
    padding: 24px;
    margin: 16px auto;
}